.card {
  height: 200px;
  color: #000000;
  transform: scale(1);
  width: 150px;
  &.overflow {
    overflow: scroll;
  }
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.44);
}

.card-body {
  button {
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #0abf53;
    color: #fff;
    font-weight: 400;
  }
  button:hover {
    background-color: #078f3e;
  }

  button:focus,
  button:active {
    outline: none !important;
    box-shadow: none;
  }
}

@media (min-width: 992px) {
  .card {
    height: 100%;
    transform: scale(1);
    width: 250px;
    &.overflow {
      overflow: hidden;
    }
  }

  .card:hover {
    transform: scale(1.111);
  }
}
