.locations {
  text-align: center;
  width: 90vw;
  .wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: 0 auto;
  }

  .title-container {
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
  }
}
